.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span {
  width: 30px;
  height: 4px;
  background-color: #c8c8c8;
  margin: 0 auto;
}

.burger-btn {
  z-index: 10;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger-btn_active span {
  display: none;
  transition: all 0.3s;
}

.burger-btn.burger-btn_active::before {
  transform: rotate(-45deg);
  margin-top: 8px;
  background-color: #5c5c5c;
  transition: all 0.3s;
}

.burger-btn.burger-btn_active::after {
  transform: rotate(45deg);
  margin-bottom: 8px;
  background-color: #5c5c5c;
  transition: all 0.3s;
}

.burger-btn span {
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #c8c8c8;
  top: 8px;
}

.burger-btn::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #c8c8c8;
  top: 0;
  transition: all 0.3s;
}

.burger-btn::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #c8c8c8;
  bottom: 0;
  transition: all 0.3s;
}

.checkbox {
  position: relative;
  cursor: pointer;
  z-index: 9;
}

input[type='checkbox'] {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background-color: #4fbe79;
  border-radius: 50px;
  -webkit-appearance: none;
  outline: none;
}

input:checked[type='checkbox'] {
  background-color: #d3d3d3;
}

input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 35px;
  top: 5px;
  left: 5px;
  transition-duration: 0.3s;
}

input:checked[type='checkbox']:before {
  left: 35px;
}

input[type='checkbox']::after {
  content: 'Train';
  position: absolute;
  color: white;
  top: 8px;
  left: 26px;
}

input:checked[type='checkbox']::after {
  content: 'Play';
  left: 6px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 96%;
    margin: 0 auto;
  }
}
