.main {
  width: 100%;
}

.cards-field {
  width: 100%;
  max-width: 1000px;

  /* height: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-container {
  margin-top: 10px;
  width: 1000px;
  flex: 0 0 14%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 450px;
  flex-wrap: wrap;
  background-color: #fff;
}

.card-container_disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
}

.card:hover {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.4), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
}

.card-container.flipped > .card {
  transform: rotateY(180deg);
}

.card {
  cursor: pointer;

  width: 320px;
  height: 268px;

  margin: 5px;

  background: #ffffff;
  border-radius: 5px;

  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
  background-position: center;
  background-size: cover;
}

.img_cover {
  width: 100%;
  height: 218.31px;
  border-radius: 5px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  backface-visibility: hidden;
}

.card__img_game {
  height: 100%;
  object-fit: cover;
}

.img_cover_game {
  width: 100%;
  height: 268px;
  object-fit: cover;
}

.card__front {
  background-color: rgb(255, 255, 255);
}

.card__back {
  transform: rotateY(180deg);
  background-color: rgb(255, 255, 255);
}

.descr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.word,
.translation {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.flip-btn {
  width: 20px;
}
.flip-btn:hover {
  transform: scale(1.5);
  transition: all 0.3s;
}

.play-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.play-Btn {
  cursor: pointer;
  width: 248px;
  height: 60px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background: linear-gradient(40deg, #ffd86f, #fc6262);
  color: #ffffff;
}

.play-Btn_repeat {
  cursor: pointer;
  width: 100px;
  height: 60px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  background: linear-gradient(30deg, #ffe6a0, #fd2828);
  color: #ffffff;
}

.play-Btn:active {
  background: linear-gradient(-40deg, #ffd86f, #fc6262);
}

.title_score {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.category__tytle {
  font-size: 24px;
  text-transform: uppercase;
  height: 34px;
}

.score {
  width: 340px;
  height: 34px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.score img {
  width: 34px;
  height: 34px;
}

.finish {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.finish img {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .main {
    height: auto;
  }

  .cards-field {
    margin: 0 auto;
  }
  .card {
    cursor: pointer;

    width: 310px;
    height: 268px;
  }

  .title_score {
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin: 0 auto;
  }

  .score {
    width: 272px;
  }

  .finish img {
    width: 100%;
  }
}
